@charset "UTF-8";
:root{
    --alturaBotoes: 80px;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-45deg, gray, white);
    min-height: 100vh;
}
.max-calc{
    background-color: black;
    max-width: 500px;
    border-radius: 20px;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    color: white;
    padding: 10px 20px;
    margin-bottom: 30px;
}
.max-calc h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.max-calc input{
    background-color: white;
    outline: none;
    border: none;
    height: 60px;
    width: 100%;
    font-size: 38px;
    text-align: right;
}
div.botoes{
    margin-top: 25px;
    width: 100%;
    padding: 1px 2px;
    position: relative;
}
div.botao{
    background-color: rgb(71, 71, 71);
    display: inline-block;
    width: 22%;
    height: var(--alturaBotoes);
    margin: 4px;
    cursor: pointer;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
div.botao:active{
    background-color: rgb(136, 136, 136);
}
div.botao span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
div.igual{
    height: calc(var(--alturaBotoes) * 2 + 12px);
    position: absolute;
    margin-left: 7px;
}
div.zero{
    width: 46.5%;
}

@media only screen and (max-width: 800px) {

.max-calc{
    width: 80%;
}
div.botao{
    width: 21%;
}
div.zero{
    width: 46.5%;
}

}